<html>
{% extends 'music/base.html' %}
{% block body %}
{% for i in all_albums %}
<body>
<div class="col-sm-4 col-lg-2">
<div class="thumbnail"> 
        <a href="{% url 'music:music_detail' i.id %}">
            <img src="{{i.album_logo.url}}" class="img-responsive">
        </a></div><ul class="nav navbar">
            <li><a href="{% url 'music:music_detail' i.id%}"><h4>{{i.album_title}}</h4></a></li>
      <li><a href="{% url 'music:album-update' i.id%}" class="btn btn-primary btn-sm">
           View Details</a></li>
               <li><form action="{% url 'music:album-delete' i.id%}" method="POST" style:"display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="album_id" value="{{i.id}}">
                    <button type="submit" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-trash"></span></button>
            </form></li></ul></div>
    {% endfor %}
    </body>
{% endblock %}
</html>