{% extends "base.html" %}
{% load i18n %}

{% block content %}

<!DOCTYPE html>
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title> LOGIN- SelfieSpree</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	{% include "body.html" %} 
<br>
	  <br>
	<p><center><b style="font-size: 30px; color:white">{% trans "Your account is now activated." %}</b></center>c</p>

<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
