{% extends "base.html" %}
{% load i18n %}
{% block content %}
<!DOCTYPE html>
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title>LOGGED-OUT</title>
</head>
 {% include "body.html" %}
     
     <div class="container">
     <br>
     	<h2><center><strong style="color:white">You Have Logged Out!</strong></center></h2>
     </div>
     <br>
     <p><center><strong style="color:white">ThankYou For Visiting Us!</strong></center></p>
     <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


</body>
</html>
{% endblock %}
