{% extends "base.html" %}
{% load i18n %}

{% block content %}
<!DOCTYPE html>
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title> LOGIN- SelfieSpree</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{% includes "body.html" %}

<p>{% trans "Password reset successfully" %}</p>
<br>
	<br>
<p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>
<br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
