{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title>Change-Password</title>
  {% include "body.html" %}
<br>
<br>
<br>
    

<center>
    <div class="container" style="width: 500px;">
      <div class='col-sm-6 col-sm-offset-3'>
<h1>Password Reset</h1>
<p class='lead'>Reset your password using your email below.</p>
    <form method="POST">
    	
    	{% csrf_token %}
    	{{ form.as_p }}
    	
  <input class='btn btn-primary' type="submit" value="{% trans 'Reset' %}" />
    </form>
  </center>
<br>
<br>
<br>
<br> <br>
     <br><br>
     <br>
     <br><br>
     <br>
     <br><br>
     <br>
     <br>


{% endblock %}