{% extends "base.html" %}
{% load i18n %}

{% block content %}
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title>Change-Password</title>
   {% include "body.html" %}
  <br>	<br>
{% if validlink %}


<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}
<br><br><br><br><br><br><br><br><br><br><br>	<br>
	<br><br><br><br><br><br><br>
{% endblock %}
