{% extends "base.html" %}
{% load i18n %}

{% block content %}
<!DOCTYPE html>
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title> LOGIN- SelfieSpree</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{% include "body.html" %}
    <br>
	<br><br> 
<p >{%lass trans "Email with password reset instructions has been sent." %}</p>
	<br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>	<br><br><br>
{% endblock %}
