{% extends "base.html" %}
{% load i18n %}

{% block content %}


<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title>Change-Password</title>
</head>
 {% include "body.html" %}
     <br>

<div class="container">
<center>
    <div class="container" style="width: 500px;">
    <form method="POST">
    	
    	{% csrf_token %}
    	{{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
    </form>
    </div>
</center>

</div>


</body>
{% endblock %}