{% extends "base.html" %}
{% load i18n %}
{% load staticfiles%}
{% block content %}
<!DOCTYPE html>
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title>Registration Completed</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	{% include "body.html" %}

<br>
<br>

    <p><center><b style="font-size: 30px; color:white">{% trans " You are now registered. Activation email sent. Please go to your email and click your activaton link " %}</b></p>
<br>
<br>

<br>
<br>

<br>
<br>

<br>
<br>

<br>
<br>

<br>
<br>

<br>
<br>

<br><br>
<br>

<br>
<br>

<br>
<br>

<br>
<br>

<br>
<br>
</body>
{% endblock %}