@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?64586231');
  src: url('../font/fontello.eot?64586231#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?64586231') format('woff'),
       url('../font/fontello.ttf?64586231') format('truetype'),
       url('../font/fontelloa170.svg?64586231#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?64586231#fontello') format('svg');
  }
}
*/
 
 [class^="icn-"]:before, [class*=" icn-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icn-spin1:before { content: '\e93a'; } /* '' */
.icn-stumbleupon:before { content: '\e957'; } /* '' */
.icn-spin3:before { content: '\e93c'; } /* '' */
.icn-spin4:before { content: '\e93d'; } /* '' */
.icn-spin5:before { content: '\e93f'; } /* '' */
.icn-spin6:before { content: '\e93e'; } /* '' */
.icn-glass:before { content: '\e800'; } /* '' */
.icn-music:before { content: '\e801'; } /* '' */
.icn-search:before { content: '\e802'; } /* '' */
.icn-mail:before { content: '\e803'; } /* '' */
.icn-mail-alt:before { content: '\e804'; } /* '' */
.icn-heart:before { content: '\e805'; } /* '' */
.icn-heart-empty:before { content: '\e806'; } /* '' */
.icn-star:before { content: '\e807'; } /* '' */
.icn-star-empty:before { content: '\e808'; } /* '' */
.icn-star-half:before { content: '\e809'; } /* '' */
.icn-star-half-alt:before { content: '\e80a'; } /* '' */
.icn-user:before { content: '\e80b'; } /* '' */
.icn-users:before { content: '\e80c'; } /* '' */
.icn-male:before { content: '\e80d'; } /* '' */
.icn-female:before { content: '\e80e'; } /* '' */
.icn-video:before { content: '\e80f'; } /* '' */
.icn-videocam:before { content: '\e810'; } /* '' */
.icn-picture:before { content: '\e811'; } /* '' */
.icn-camera:before { content: '\e812'; } /* '' */
.icn-camera-alt:before { content: '\e813'; } /* '' */
.icn-th-large:before { content: '\e814'; } /* '' */
.icn-th:before { content: '\e815'; } /* '' */
.icn-th-list:before { content: '\e816'; } /* '' */
.icn-ok:before { content: '\e817'; } /* '' */
.icn-ok-circled:before { content: '\e818'; } /* '' */
.icn-ok-circled2:before { content: '\e819'; } /* '' */
.icn-ok-squared:before { content: '\e81a'; } /* '' */
.icn-cancel:before { content: '\e81b'; } /* '' */
.icn-cancel-circled:before { content: '\e81c'; } /* '' */
.icn-cancel-circled2:before { content: '\e81d'; } /* '' */
.icn-plus:before { content: '\e81e'; } /* '' */
.icn-plus-circled:before { content: '\e81f'; } /* '' */
.icn-plus-squared:before { content: '\e820'; } /* '' */
.icn-plus-squared-small:before { content: '\e822'; } /* '' */
.icn-minus:before { content: '\e821'; } /* '' */
.icn-minus-circled:before { content: '\e823'; } /* '' */
.icn-minus-squared:before { content: '\e824'; } /* '' */
.icn-minus-squared-alt:before { content: '\e825'; } /* '' */
.icn-minus-squared-small:before { content: '\e826'; } /* '' */
.icn-help:before { content: '\e827'; } /* '' */
.icn-help-circled:before { content: '\e828'; } /* '' */
.icn-info-circled:before { content: '\e829'; } /* '' */
.icn-info:before { content: '\e82a'; } /* '' */
.icn-home:before { content: '\e82b'; } /* '' */
.icn-link:before { content: '\e82c'; } /* '' */
.icn-unlink:before { content: '\e82d'; } /* '' */
.icn-link-ext:before { content: '\e82e'; } /* '' */
.icn-link-ext-alt:before { content: '\e82f'; } /* '' */
.icn-attach:before { content: '\e830'; } /* '' */
.icn-lock:before { content: '\e831'; } /* '' */
.icn-lock-open:before { content: '\e832'; } /* '' */
.icn-lock-open-alt:before { content: '\e833'; } /* '' */
.icn-pin:before { content: '\e834'; } /* '' */
.icn-eye:before { content: '\e835'; } /* '' */
.icn-eye-off:before { content: '\e836'; } /* '' */
.icn-tag:before { content: '\e837'; } /* '' */
.icn-tags:before { content: '\e839'; } /* '' */
.icn-bookmark:before { content: '\e838'; } /* '' */
.icn-bookmark-empty:before { content: '\e83a'; } /* '' */
.icn-flag:before { content: '\e83b'; } /* '' */
.icn-flag-empty:before { content: '\e83c'; } /* '' */
.icn-flag-checkered:before { content: '\e83d'; } /* '' */
.icn-thumbs-up:before { content: '\e83f'; } /* '' */
.icn-thumbs-down:before { content: '\e83e'; } /* '' */
.icn-thumbs-up-alt:before { content: '\e840'; } /* '' */
.icn-thumbs-down-alt:before { content: '\e845'; } /* '' */
.icn-download:before { content: '\e841'; } /* '' */
.icn-upload:before { content: '\e844'; } /* '' */
.icn-download-cloud:before { content: '\e842'; } /* '' */
.icn-upload-cloud:before { content: '\e843'; } /* '' */
.icn-reply:before { content: '\e846'; } /* '' */
.icn-reply-all:before { content: '\e849'; } /* '' */
.icn-forward:before { content: '\e847'; } /* '' */
.icn-quote-left:before { content: '\e84a'; } /* '' */
.icn-quote-right:before { content: '\e84b'; } /* '' */
.icn-code:before { content: '\e848'; } /* '' */
.icn-export:before { content: '\e84c'; } /* '' */
.icn-export-alt:before { content: '\e84d'; } /* '' */
.icn-pencil:before { content: '\e84e'; } /* '' */
.icn-pencil-squared:before { content: '\e84f'; } /* '' */
.icn-edit:before { content: '\e863'; } /* '' */
.icn-print:before { content: '\e862'; } /* '' */
.icn-retweet:before { content: '\e861'; } /* '' */
.icn-keyboard:before { content: '\e860'; } /* '' */
.icn-gamepad:before { content: '\e85f'; } /* '' */
.icn-comment:before { content: '\e85e'; } /* '' */
.icn-chat:before { content: '\e85d'; } /* '' */
.icn-comment-empty:before { content: '\e85c'; } /* '' */
.icn-chat-empty:before { content: '\e85b'; } /* '' */
.icn-bell:before { content: '\e85a'; } /* '' */
.icn-bell-alt:before { content: '\e858'; } /* '' */
.icn-attention-alt:before { content: '\e859'; } /* '' */
.icn-attention:before { content: '\e857'; } /* '' */
.icn-attention-circled:before { content: '\e856'; } /* '' */
.icn-location:before { content: '\e855'; } /* '' */
.icn-direction:before { content: '\e854'; } /* '' */
.icn-compass:before { content: '\e853'; } /* '' */
.icn-trash:before { content: '\e851'; } /* '' */
.icn-doc:before { content: '\e852'; } /* '' */
.icn-docs:before { content: '\e850'; } /* '' */
.icn-doc-text:before { content: '\e864'; } /* '' */
.icn-doc-inv:before { content: '\e865'; } /* '' */
.icn-doc-text-inv:before { content: '\e866'; } /* '' */
.icn-folder:before { content: '\e867'; } /* '' */
.icn-folder-open:before { content: '\e868'; } /* '' */
.icn-folder-empty:before { content: '\e869'; } /* '' */
.icn-folder-open-empty:before { content: '\e86a'; } /* '' */
.icn-box:before { content: '\e86b'; } /* '' */
.icn-rss:before { content: '\e86c'; } /* '' */
.icn-rss-squared:before { content: '\e86d'; } /* '' */
.icn-phone:before { content: '\e86e'; } /* '' */
.icn-phone-squared:before { content: '\e86f'; } /* '' */
.icn-menu:before { content: '\e870'; } /* '' */
.icn-cog:before { content: '\e871'; } /* '' */
.icn-cog-alt:before { content: '\e872'; } /* '' */
.icn-wrench:before { content: '\e873'; } /* '' */
.icn-basket:before { content: '\e874'; } /* '' */
.icn-calendar:before { content: '\e875'; } /* '' */
.icn-calendar-empty:before { content: '\e876'; } /* '' */
.icn-login:before { content: '\e877'; } /* '' */
.icn-logout:before { content: '\e88b'; } /* '' */
.icn-mic:before { content: '\e88a'; } /* '' */
.icn-mute:before { content: '\e889'; } /* '' */
.icn-volume-off:before { content: '\e888'; } /* '' */
.icn-volume-down:before { content: '\e887'; } /* '' */
.icn-volume-up:before { content: '\e886'; } /* '' */
.icn-headphones:before { content: '\e885'; } /* '' */
.icn-clock:before { content: '\e883'; } /* '' */
.icn-lightbulb:before { content: '\e884'; } /* '' */
.icn-block:before { content: '\e882'; } /* '' */
.icn-resize-full:before { content: '\e881'; } /* '' */
.icn-resize-full-alt:before { content: '\e880'; } /* '' */
.icn-resize-small:before { content: '\e87f'; } /* '' */
.icn-resize-vertical:before { content: '\e87e'; } /* '' */
.icn-resize-horizontal:before { content: '\e87d'; } /* '' */
.icn-move:before { content: '\e87c'; } /* '' */
.icn-zoom-in:before { content: '\e87a'; } /* '' */
.icn-zoom-out:before { content: '\e87b'; } /* '' */
.icn-down-circled2:before { content: '\e879'; } /* '' */
.icn-up-circled2:before { content: '\e878'; } /* '' */
.icn-down-dir:before { content: '\e88c'; } /* '' */
.icn-up-dir:before { content: '\e88d'; } /* '' */
.icn-left-dir:before { content: '\e88e'; } /* '' */
.icn-right-dir:before { content: '\e88f'; } /* '' */
.icn-down-open:before { content: '\e890'; } /* '' */
.icn-left-open:before { content: '\e891'; } /* '' */
.icn-right-open:before { content: '\e892'; } /* '' */
.icn-up-open:before { content: '\e893'; } /* '' */
.icn-angle-left:before { content: '\e894'; } /* '' */
.icn-angle-right:before { content: '\e895'; } /* '' */
.icn-angle-up:before { content: '\e896'; } /* '' */
.icn-angle-down:before { content: '\e897'; } /* '' */
.icn-angle-circled-left:before { content: '\e898'; } /* '' */
.icn-angle-circled-right:before { content: '\e899'; } /* '' */
.icn-angle-circled-up:before { content: '\e89a'; } /* '' */
.icn-angle-circled-down:before { content: '\e89b'; } /* '' */
.icn-angle-double-left:before { content: '\e89c'; } /* '' */
.icn-angle-double-right:before { content: '\e89d'; } /* '' */
.icn-angle-double-up:before { content: '\e89e'; } /* '' */
.icn-angle-double-down:before { content: '\e89f'; } /* '' */
.icn-down:before { content: '\e8b3'; } /* '' */
.icn-left:before { content: '\e8b2'; } /* '' */
.icn-right:before { content: '\e8b1'; } /* '' */
.icn-up:before { content: '\e8b0'; } /* '' */
.icn-down-big:before { content: '\e8af'; } /* '' */
.icn-left-big:before { content: '\e8ae'; } /* '' */
.icn-spin2:before { content: '\e93b'; } /* '' */
.icn-up-big:before { content: '\e8ac'; } /* '' */
.icn-right-hand:before { content: '\e8ab'; } /* '' */
.icn-left-hand:before { content: '\e8aa'; } /* '' */
.icn-up-hand:before { content: '\e8a9'; } /* '' */
.icn-down-hand:before { content: '\e8a8'; } /* '' */
.icn-left-circled:before { content: '\e8a7'; } /* '' */
.icn-right-circled:before { content: '\e8a6'; } /* '' */
.icn-up-circled:before { content: '\e8a5'; } /* '' */
.icn-down-circled:before { content: '\e8a4'; } /* '' */
.icn-cw:before { content: '\e8a3'; } /* '' */
.icn-ccw:before { content: '\e8a2'; } /* '' */
.icn-arrows-cw:before { content: '\e8a1'; } /* '' */
.icn-level-up:before { content: '\e8a0'; } /* '' */
.icn-level-down:before { content: '\e8b4'; } /* '' */
.icn-shuffle:before { content: '\e8b5'; } /* '' */
.icn-exchange:before { content: '\e8b6'; } /* '' */
.icn-collapse:before { content: '\e8b7'; } /* '' */
.icn-collapse-top:before { content: '\e8b8'; } /* '' */
.icn-expand:before { content: '\e8b9'; } /* '' */
.icn-play:before { content: '\e8ba'; } /* '' */
.icn-play-circled:before { content: '\e8bb'; } /* '' */
.icn-play-circled2:before { content: '\e8bc'; } /* '' */
.icn-stop:before { content: '\e8bd'; } /* '' */
.icn-pause:before { content: '\e8be'; } /* '' */
.icn-to-end:before { content: '\e8bf'; } /* '' */
.icn-to-end-alt:before { content: '\e8c0'; } /* '' */
.icn-to-start:before { content: '\e8c1'; } /* '' */
.icn-to-start-alt:before { content: '\e8c2'; } /* '' */
.icn-fast-fw:before { content: '\e8c3'; } /* '' */
.icn-fast-bw:before { content: '\e8c4'; } /* '' */
.icn-eject:before { content: '\e8c7'; } /* '' */
.icn-target:before { content: '\e8c6'; } /* '' */
.icn-signal:before { content: '\e8c5'; } /* '' */
.icn-award:before { content: '\e8db'; } /* '' */
.icn-desktop:before { content: '\e8da'; } /* '' */
.icn-laptop:before { content: '\e8d9'; } /* '' */
.icn-tablet:before { content: '\e8d8'; } /* '' */
.icn-mobile:before { content: '\e8d7'; } /* '' */
.icn-inbox:before { content: '\e8d6'; } /* '' */
.icn-globe:before { content: '\e8d5'; } /* '' */
.icn-sun:before { content: '\e8d4'; } /* '' */
.icn-cloud:before { content: '\e8d2'; } /* '' */
.icn-flash:before { content: '\e8d1'; } /* '' */
.icn-moon:before { content: '\e8d3'; } /* '' */
.icn-umbrella:before { content: '\e8d0'; } /* '' */
.icn-flight:before { content: '\e8cf'; } /* '' */
.icn-fighter-jet:before { content: '\e8ce'; } /* '' */
.icn-leaf:before { content: '\e8cd'; } /* '' */
.icn-font:before { content: '\e8cc'; } /* '' */
.icn-bold:before { content: '\e8ca'; } /* '' */
.icn-italic:before { content: '\e8cb'; } /* '' */
.icn-text-height:before { content: '\e8c9'; } /* '' */
.icn-text-width:before { content: '\e8c8'; } /* '' */
.icn-align-left:before { content: '\e8dc'; } /* '' */
.icn-align-center:before { content: '\e8dd'; } /* '' */
.icn-align-right:before { content: '\e8de'; } /* '' */
.icn-align-justify:before { content: '\e8df'; } /* '' */
.icn-list:before { content: '\e8e0'; } /* '' */
.icn-indent-left:before { content: '\e8e1'; } /* '' */
.icn-indent-right:before { content: '\e8e2'; } /* '' */
.icn-list-bullet:before { content: '\e8e3'; } /* '' */
.icn-list-numbered:before { content: '\e8e4'; } /* '' */
.icn-strike:before { content: '\e8e5'; } /* '' */
.icn-underline:before { content: '\e8e6'; } /* '' */
.icn-superscript:before { content: '\e8e7'; } /* '' */
.icn-subscript:before { content: '\e8e8'; } /* '' */
.icn-table:before { content: '\e8e9'; } /* '' */
.icn-columns:before { content: '\e8ea'; } /* '' */
.icn-crop:before { content: '\e8eb'; } /* '' */
.icn-scissors:before { content: '\e8ec'; } /* '' */
.icn-paste:before { content: '\e8ed'; } /* '' */
.icn-briefcase:before { content: '\e8ef'; } /* '' */
.icn-suitcase:before { content: '\e8ee'; } /* '' */
.icn-ellipsis:before { content: '\e902'; } /* '' */
.icn-ellipsis-vert:before { content: '\e903'; } /* '' */
.icn-off:before { content: '\e901'; } /* '' */
.icn-road:before { content: '\e900'; } /* '' */
.icn-list-alt:before { content: '\e8fe'; } /* '' */
.icn-qrcode:before { content: '\e8ff'; } /* '' */
.icn-barcode:before { content: '\e8fd'; } /* '' */
.icn-book:before { content: '\e8fc'; } /* '' */
.icn-ajust:before { content: '\e8fb'; } /* '' */
.icn-tint:before { content: '\e8fa'; } /* '' */
.icn-check:before { content: '\e8f9'; } /* '' */
.icn-check-empty:before { content: '\e8f8'; } /* '' */
.icn-circle:before { content: '\e8f7'; } /* '' */
.icn-circle-empty:before { content: '\e8f6'; } /* '' */
.icn-asterisk:before { content: '\e8f5'; } /* '' */
.icn-gift:before { content: '\e8f4'; } /* '' */
.icn-fire:before { content: '\e8f3'; } /* '' */
.icn-magnet:before { content: '\e8f2'; } /* '' */
.icn-chart-bar:before { content: '\e8f1'; } /* '' */
.icn-ticket:before { content: '\e8f0'; } /* '' */
.icn-credit-card:before { content: '\e904'; } /* '' */
.icn-floppy:before { content: '\e905'; } /* '' */
.icn-megaphone:before { content: '\e906'; } /* '' */
.icn-hdd:before { content: '\e907'; } /* '' */
.icn-key:before { content: '\e908'; } /* '' */
.icn-fork:before { content: '\e909'; } /* '' */
.icn-rocket:before { content: '\e90a'; } /* '' */
.icn-bug:before { content: '\e90b'; } /* '' */
.icn-certificate:before { content: '\e90c'; } /* '' */
.icn-tasks:before { content: '\e90d'; } /* '' */
.icn-filter:before { content: '\e90e'; } /* '' */
.icn-beaker:before { content: '\e90f'; } /* '' */
.icn-magic:before { content: '\e910'; } /* '' */
.icn-truck:before { content: '\e911'; } /* '' */
.icn-money:before { content: '\e912'; } /* '' */
.icn-euro:before { content: '\e913'; } /* '' */
.icn-pound:before { content: '\e914'; } /* '' */
.icn-dollar:before { content: '\e915'; } /* '' */
.icn-rupee:before { content: '\e916'; } /* '' */
.icn-yen:before { content: '\e917'; } /* '' */
.icn-renminbi:before { content: '\e92b'; } /* '' */
.icn-won:before { content: '\e92a'; } /* '' */
.icn-bitcoin:before { content: '\e929'; } /* '' */
.icn-sort:before { content: '\e928'; } /* '' */
.icn-sort-down:before { content: '\e927'; } /* '' */
.icn-sort-up:before { content: '\e926'; } /* '' */
.icn-sort-alt-up:before { content: '\e925'; } /* '' */
.icn-sort-alt-down:before { content: '\e924'; } /* '' */
.icn-sort-name-up:before { content: '\e923'; } /* '' */
.icn-sort-name-down:before { content: '\e922'; } /* '' */
.icn-sort-number-up:before { content: '\e921'; } /* '' */
.icn-sort-number-down:before { content: '\e920'; } /* '' */
.icn-hammer:before { content: '\e91f'; } /* '' */
.icn-gauge:before { content: '\e91e'; } /* '' */
.icn-sitemap:before { content: '\e91d'; } /* '' */
.icn-spinner:before { content: '\e91c'; } /* '' */
.icn-coffee:before { content: '\e91b'; } /* '' */
.icn-food:before { content: '\e91a'; } /* '' */
.icn-beer:before { content: '\e919'; } /* '' */
.icn-user-md:before { content: '\e918'; } /* '' */
.icn-stethoscope:before { content: '\e92c'; } /* '' */
.icn-ambulance:before { content: '\e92d'; } /* '' */
.icn-medkit:before { content: '\e92e'; } /* '' */
.icn-h-sigh:before { content: '\e92f'; } /* '' */
.icn-hospital:before { content: '\e930'; } /* '' */
.icn-building:before { content: '\e931'; } /* '' */
.icn-smile:before { content: '\e933'; } /* '' */
.icn-frown:before { content: '\e932'; } /* '' */
.icn-meh:before { content: '\e934'; } /* '' */
.icn-anchor:before { content: '\e935'; } /* '' */
.icn-terminal:before { content: '\e936'; } /* '' */
.icn-eraser:before { content: '\e937'; } /* '' */
.icn-puzzle:before { content: '\e938'; } /* '' */
.icn-shield:before { content: '\e939'; } /* '' */
.icn-facebook-squared:before { content: '\e94a'; } /* '' */
.icn-gplus-squared:before { content: '\e949'; } /* '' */
.icn-linkedin-squared:before { content: '\e94d'; } /* '' */
.icn-pinterest-squared:before { content: '\e94e'; } /* '' */
.icn-skype:before { content: '\e94f'; } /* '' */
.icn-tumblr-squared:before { content: '\e950'; } /* '' */
.icn-twitter-squared:before { content: '\e951'; } /* '' */
.icn-vimeo-squared:before { content: '\e952'; } /* '' */
.icn-youtube-play:before { content: '\e953'; } /* '' */
.icn-cancel-1:before { content: '\e940'; } /* '' */
.icn-cancel-circled-1:before { content: '\e944'; } /* '' */
.icn-cancel-squared:before { content: '\e943'; } /* '' */
.icn-plus-1:before { content: '\e941'; } /* '' */
.icn-minus-1:before { content: '\e942'; } /* '' */
.icn-down-open-big:before { content: '\e945'; } /* '' */
.icn-left-open-big:before { content: '\e946'; } /* '' */
.icn-right-open-big:before { content: '\e947'; } /* '' */
.icn-up-open-big:before { content: '\e948'; } /* '' */
.icn-lastfm:before { content: '\e954'; } /* '' */
.icn-instagram:before { content: '\e94b'; } /* '' */
.icn-soundcloud:before { content: '\e956'; } /* '' */
.icn-behance:before { content: '\e94c'; } /* '' */
.icn-vkontakte:before { content: '\e958'; } /* '' */
.icn-picasa:before { content: '\e955'; } /* '' */
.icn-right-big:before { content: '\e8ad'; } /* '' */