{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}



<!DOCTYPE HTML>

	<head>
		
		<title>SelfieSpree</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />


        <style type="text/css">

             body {
             	    padding: 0; margin: 0;  background-image: url("/static/assets/back4.jpg") ; background-repeat: no-repeat; background-size: cover;
                  }

			.a
			{
				font-weight: bold;
				color:white;
			}
.b
{	
	color:white;
}
.d
{
	color:white;

}
.text-md
{
	font-weight: :bold;
	color;
}
.sp
{
	color: :white;
} 

        </style>
    </head>

	<body class="subpage">
		<br><br><br>
		<center>
		<h2 class="a">- Our Mission -</h2>
		<p class="b">To provide the most actionable app store data.</p>
		</center>
		<center>
		<h2 class="a">-About-</h2></center>
		<div class="" style="max-width: 74rem;"><p class="d" style="position:relative; left:20%;  ">At Apptopia, we all come to work every day because we want to solve the biggest problem in mobile. Everyone is guessing. 
		Publishers don’t know what apps to build, how to monetize them, or even what to price them at. Advertisers &amp; brands don’t know where their target users are, how to reach them, or even how much they need to spend in order to do so. Investors aren’t sure which apps and genres are growing the quickest, and where users are really spending their time (and money).</p>
		<p class="d" style="position: relative; left:20%;">Throughout the history of business, people use data to make more informed decisions. Our mission at Apptopia is to make the app economy more transparent. Today we provide the most actionable mobile app data &amp; 
		insights in the industry. We want to make this data available to as many people as possible (not just the top 5%).</p></div>
		</section>
		<center>
		<section class="scard card-lg p-b-0 text-xxs-center" style="color:white;"><h2 class="a">-Leadership-</h2>
		<div class="row"><div class="col-xxs-12 col-sm-6 col-xxl-3 m-b-xxl"><img class="img-circle img-fluid m-x-auto m-b " style="  width: 150px; height: 150px; margin: 1em auto;-webkit-border-radius: 99em;-moz-border-radius: 99em; " 
		src="{% static 'assets/pop_worrior_within-wallpaper-1366x768.jpg' %}" alt="John Tony" />
		<h3 class="text-md text-bold"><b style="color: white;">-John Tony Thottan-</b></h3><p class="text-xxxs m-b-sm text-uppercase">Co-founder & CEO</p>
		<p class="text-xs m-b-sm m-x-auto" style="max-width: 35rem;">John drives Apptopia’s strategic vision and manages investor relations. Before Apptopia Eli was involved in several startups, including: GPush, Oasys Water, GreatPoint Energy, and DVTel.</p>
		<p class="text-xxs text-uppercase text-bold">JOHN’S FAVORITE APPS:</p><p class="text-xxs">Uber, One Note, & Yelp</p></div>
		<div class="col-xxs-12 col-sm-6 col-xxl-3 m-b-xxl"><img class="img-circle img-fluid m-x-auto m-b" style="  width: 150px; height: 150px; margin: 1em auto;-webkit-border-radius: 99em;-moz-border-radius: 99em; " src="{% static 'assets/devil_may_cry_3-wallpaper-1366x768.jpg' %}" alt="Ashin Shanly" />
		<h3 class="text-md text-bold"><b style="color:white;">-Ashin Shanly-</b></h3><p class="text-xxxs m-b-sm text-uppercase">Co-founder & COO</p>
		<p class="text-xs m-b-sm m-x-auto" style="max-width: 35rem;">Ashin leads the daily operations at Apptopia, including product development and global sales. Jonathan is passionate about people, sports, and really efficient processes.</p>
		<p class="text-xxs text-uppercase text-bold">ASHIN’S FAVORITE APPS:</p><p class="text-xxs">Spotify, Yahoo Sports, & Uber</p></div>
				</center>
	
	<br><br><br><br>	<!-- Header -->			








	</body>
	{% endblock %}