 

{% extends "base.html" %}

{% load staticfiles%}
{% block content %}

	<head>
		<title>SelfieSpree</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
    </head>

	<body>
              
		<!-- Header -->

			
		<!-- Banner -->
			<section id="banner" style="background:url( '{% static 'assets/city.jpg' %}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
				<div class="inner">
					<header>
						<h1>Óla !!</h1>
						<h1>Welcome to #SelfieSpree</h1>
						   <p>Being Happy,<br>Never Goes Out Of Style!</p>
					</header>
					<div class="container">
					<div class="flex" style="position:relative; left:-70px;">

						<div>
							
							<span class="icon fa-volume-up"></span>
							<h3>Your Eyes Are Never Quite</h3>
							
						</div>
						<div>
							<span class="icon fa-camera"></span>
							<h3>Smile Like Never Before</h3>
							
						</div>
						<div>
							<span class="icon fa-globe"></span>
							<h3>Conquer The Internet</h3>
							
						</div>
							</div>
					</div>
						
					<footer>
						<a href="events" class="button">Get Started</a>
						<p>Compete Against The Best</p>
						
					</footer>
			
				</div>
				<br>
				<br>
			</section>
				
				

			


		

		<!-- Footer -->
			
		<!-- Scripts -->
			

	</body>
</html>

{% endblock %}









