{% load staticfiles%}
<head>
     <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
</head>
<body>

<h2 style="text-align:center">Lightbox</h2>
{% for i in pro %}
<div class="row">
  <div class="column">
    <img src="{{i.image.url}}" style="width:100%" onclick="openModal();" class="hover-shadow cursor">
  </div>
</div>
{% endfor %}

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

{% for i in pro %}
    <div class="mySlides">
      <div class="numbertext"></div>
      <img src="{{i.image.url}}" style="width:100%">
    </div>
    {% endfor %}

    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>

{% for i in pro %}
    <div class="column">
      <img class="demo cursor" src="{{i.image.url}}" style="width:100%" onclick="currentSlide('{{forloop.counter}}')" alt="Nature and sunrise">
    </div>
        {% endfor %}
  </div>
</div>

<script>
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
    
</body>
</html>
