<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/assets/pic02.jpg">

    <title>Login - Selfie Spree</title>

    <link rel="stylesheet" href="static/css/main.css" />

    <style type="text/css">    
    
           body {padding: 0; margin: 0;  background:url("static/assets/space.jpg")  }

    </style>

    <!--[if lt IE 9]>
      <link href="/static/site/css/ie.css" rel="stylesheet">
      <script src="js/ie/html5shiv.js"></script>
      <script src="js/ie/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<!-- Header -->

            <header id="header">
                <div class="inner">
                    <a href="index" class="logo"><strong>ONLine</strong>SelfieContest</a>
                   <nav id="nav">
                        <a href="index">Home</a>
                        <a href="#">Events</a>
                        <a href="login">Login</a>
                    </nav>

                   <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
                </div>
            </header>      
                         
                    </nav>
                    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
                </div>
            </header>




 


<section id="ef-page-header">
    <div id="ef-head-inner">
        <div id="ef-page-controls"></div>
    </div>
</section>

<section id="ef-page">
    
    <div class="ef-page-inner-a container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-lg-offset-2">
            <div style="margin-top: 5.5em">


              
                <h2>Login</h2>
                </div>

                <form id="ef-login-form" method="post" action="/login/">
                    <div style="margin-top: 2.5em">

                        <label>
                            <small>Username</small>
                            <span>*</span></label>
                        <input type="text" class="form-control ef-username" name="username">
                    </div>

                    <div style="margin-top: 2.5em">
                        <label>
                            <small>Password</small>
                            <span>*</span></label>
                        <input type="password" class="form-control ef-password" name="password">
                    </div>


                    <div style="margin-top: 3.5em">



                        <input type="submit" value="Login" class="btn btn-alizarin-alt pull-right"/>

                    </div>
                </form>
            </div>







            <div class="col-lg-4 col-md-6">
                <div class="row">

                    <h2>Social Login</h2>

                    <div style="margin-top: 4.5em">
                        <a class="zocial facebook" href="/login/facebook/">Login With Facebook</a>
                    </div>

                    <div style="margin-top: 4.5em">
                        <a class="zocial google" href="/login/google/">Login With Google</a>
                    </div>

                    <div style="margin-top: 4.5em">
                        <a class="zocial linkedin" href="/login/linkedin/">Login With Linkedin</a>
                    </div>

                    <div style="margin-top: 4.5em">
                        <a class="zocial twitter" href="/login/twitter/">Login With Twitter</a>
                    </div>

                </div>

            </div>
        </div>
    </div>


</section> -->



<footer id="ef-footer">
    <ul class="ef-social-bar list-inline">
        <li><a class="icn-twitter-squared" href="#"></a></li>
        <li><a class="icn-facebook-squared" href="#"></a></li>
        <li><a class="icn-instagram" href="#"></a></li>
        <li><a class="icn-behance" href="#"></a></li>
        <li><a class="icn-linkedin-squared" href="#"></a></li>

        <!-- Uncomment icon you need -->

        <!--<li><a class="icn-stumbleupon" href="#"></a></li> 
         <li><a class="icn-skype" href="#"></a></li> 
         <li><a class="icn-youtube-play" href="#"></a></li> 
         <li><a class="icn-soundcloud" href="#"></a></li> 
         <li><a class="icn-tumblr-squared" href="#"></a></li> 
         <li><a class="icn-gplus-squared" href="#"></a></li> 
         <li><a class="icn-pinterest-squared" href="#"></a></li> 
        <li><a class="icn-vimeo-squared" href="#"></a></li> 
         <li><a class="icn-vkontakte" href="#"></a></li> 
         <li><a class="icn-picasa" href="#"></a></li> 
         <li><a class="icn-lastfm" href="#"></a></li> -->
   </ul> -->
    <div id="ef-copyrights">
        &copy; Selfie Spree. Developed by <a href="https://www.facebook..com/ashinshanly">ASHIN SHANLY</a>.
    </div>
</footer> 

</body>

</html>

