{% extends "base.html" %}

{% load staticfiles%}
{% block content %}
<!DOCTYPE html>
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title>LOGGED-OUT</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body class="subpage">
     
     <div class="container">
     <br>
     	<h2><center><strong>You Have Logged Out!</strong></center></h2>
     </div>
     <br>
     <p><center><strong>ThankYou For Visiting Us!</strong></center></p>
     <br>


</body>
</html>