<!DOCTYPE html>
<!DOCTYPE html>
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title>SIGN UP!</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<style type="text/css">
		
        body{
        	background-image: url("/static/assets/world.jpg");
        }
        
        

	</style>
</head>
<body class="subpage">

<header id="header">
				 {% if user.is_authenticated %}
                <div class="inner">
                    <a href="index" class="logo"><strong>ONLine</strong>SelfieContest</a>
                    <nav id="nav">

                        <a href="index"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Home</a>
                        
                        <a href="events"><i class="fa fa-camera-retro"></i>&nbsp;Events</a>
                        
                        <a href="/profile"><i class="fa fa-user-circle-o"></i>&nbsp;Profile</a>
                        <a href="about"><i class="fa fa-book"></i>&nbsp;AboutUs</a>
                        <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
                        
                    </nav>
                    

                    </nav>
                    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
                </div>
                {% else %}
                <div class="inner">
                    <a href="index" class="logo"><strong>ONLine</strong>SelfieContest</a>
                    <nav id="nav">

                        
                        <a href="index"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Home</a>
                        

                        <a href="events"><i class="fa fa-camera-retro"></i>&nbsp;Events</a>
                        
                        <a href="about"><i class="fa fa-book"></i>&nbsp;AboutUs</a>
                        <a href="/login">Login</a>
                        <a href="/register">SignUp</a>
                    </nav>
                    

                    </nav>
                    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
                </div>
                {% endif %}


	  </header>
			<br>
			<br>
			<br>
			<h2><center><strong>SIGN UP HERE :)</strong></center></h2>
			<br>
<div class="container" style="width: 500px;">
    <form method="post">

         {% csrf_token %}
         {{ form.as_p }}
    	
    	<button type="submit">SignUp</button>

    </form>
</div>

<br>
<br>
<br>
<br>
<footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy; : <a href="https://facebook.com/ashinshanly">ASHIN SHANLY</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

</body>
</html>