{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>DONE!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <style type="text/css">
          body{

             background-image: url("/static/assets/world.jpg");
          }


    </style>

</head>
<body>
   
    <div class="container">
    <form method="POST">
        
        {% csrf_token %}
        {{ form.as_p }}

        
    </form>
    </div>


</div>
</body>
</html>