<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/site/assets/favicon.png">

    <title>Home - Glimpze the Photo Contest</title>

    <link href='http://fonts.googleapis.com/css?family=Magra:400,700|Open+Sans:400,300,300italic,400italic,600,700,600italic,700italic,800,800italic&amp;subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic'
          rel='stylesheet' type='text/css'>

    <link href="/static/music/bootstrap.min.css" rel="stylesheet">
    <link href="/static/music/topbar.min.css" rel="stylesheet">
    <link href="/static/music/shortcodes.css" rel="stylesheet">
    <link href="/static/music/fontello.css" rel="stylesheet">
    <link href="/static/music/animation.css" rel="stylesheet">
    <link href="/static/music/shadowbox/shadowbox.css" rel="stylesheet">
    <link href="/static/music/style.css" rel="stylesheet">
    <link href="/static/music/colors.css" rel="stylesheet">
    <link href="/static/music/css/zocial.css" rel="stylesheet">


    <link href="/static/music/theme-changer.css" rel="stylesheet" type="text/css"/>
    <link href="/static/music/demo-styles.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/static/site/js/modernizr.custom.js"></script>
    <script type="text/javascript" data-pace-options='{ "eventLag": false }' src="/static/site/js/pace.min.js"></script>

    <!--[if lt IE 9]>
      <link href="/static/site/css/ie.css" rel="stylesheet">
      <script src="js/ie/html5shiv.js"></script>
      <script src="js/ie/respond.min.js"></script>
    <![endif]-->
</head>

<body class='"fireform-slider page-template-templateshome-template ef-fullwidth-page ef-overlay"'>

<section id="ef-header">

    <a href="/" id="ef-logo"><img src="/static/music/images/images.jpg" alt="Glimpze"></a>

    
<nav class="top-bar">
    <ul class="title-area">
        <li class="toggle-topbar menu-icon" ><a href="#link-id"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
<ul class="sf-menu"id="link-id"><li class="active"><a href="/">Home</a> </li>
<li ><a href="/about/">About</a> </li>
<li ><a href="/Events/">Events</a> </li>
<li ><a href="{% url 'music:album-add' %}">Login</a> </li
    </section>
    
<div id="ef-slider-overlay"><img src="/static/music/images/slider-overlay.png" alt=""></div>

</nav>

</section>

